html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: GothaProBol; src: url("fonts/GothaProBol.eot"); src: url("fonts/GothaProBol.eot?#iefix") format("embedded-opentype"), url("fonts/GothaProBol.woff2") format("woff2"), url("fonts/GothaProBol.woff") format("woff"), url("fonts/GothaProBol.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: GothaProReg; src: url("fonts/GothaProReg.eot"); src: url("fonts/GothaProReg.eot?#iefix") format("embedded-opentype"), url("fonts/GothaProReg.woff2") format("woff2"), url("fonts/GothaProReg.woff") format("woff"), url("fonts/GothaProReg.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: GothaProMedium; src: url("fonts/GothaProMedium.eot"); src: url("fonts/GothaProMedium.eot?#iefix") format("embedded-opentype"), url("fonts/GothaProMedium.woff2") format("woff2"), url("fonts/GothaProMedium.woff") format("woff"), url("fonts/GothaProMedium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-size: 12px; line-height: 1.4; position: relative; font-family: "GothaProReg", Arial, sans-serif; }

h1, h2, h3, h4, h5 { font-weight: normal; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }

a { text-decoration: none; }

.out { min-height: 100%; margin-bottom: -328px; }
.out:after { content: ""; display: block; height: 328px; }

.is-hidden { visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.is-visible { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.btn:active { position: relative; top: 1px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.l-center { width: 1170px; margin: 0 auto; padding: 0 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.l-center:after { content: " "; display: table; clear: both; }
.l-center.no-pad { padding: 0; }

@font-face { font-family: "icons"; src: url("fonts/icons.eot"); src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg"); font-weight: normal; font-style: normal; }
[data-icon]:before { font-family: "icons" !important; content: attr(data-icon); font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "icons" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-application:before { content: "a"; }

.icon-arrdown:before { content: "b"; }

.icon-btc:before { content: "c"; }

.icon-clock:before { content: "d"; }

.icon-fb:before { content: "e"; }

.icon-gp:before { content: "f"; }

.icon-in:before { content: "g"; }

.icon-logo:before { content: "h"; }

.icon-mail:before { content: "i"; }

.icon-options:before { content: "j"; }

.icon-out:before { content: "k"; }

.icon-plus:before { content: "l"; }

.icon-recovery:before { content: "m"; }

.icon-settings:before { content: "n"; }

.icon-support:before { content: "o"; }

.icon-twitter:before { content: "p"; }

.icon-twofactor:before { content: "q"; }

.icon-user:before { content: "r"; }

.icon-verification:before { content: "s"; }

.icon-alert:before { content: "t"; }

.icon-prize:before { content: "u"; }

.header__up { padding: 20px 0; background: #232a34; *zoom: 1; }
.header__up:after { content: " "; display: table; clear: both; }

.menu { float: left; margin-top: 10px; *zoom: 1; }
.menu:after { content: " "; display: table; clear: both; }
.menu .menu__list { float: left; }
.menu .menu__list a { padding: 0 10px; font-size: 11px; color: white; text-transform: uppercase; letter-spacing: 0.1em; font-family: "GothaProBol", Arial, sans-serif; }
.menu .menu__list a:hover { color: #8696ae; }

.logo { display: block; float: left; margin-left: 40px; width: 36px; height: 36px; background: url(../img/svg/logo.svg) center center no-repeat; }

.profile { float: right; margin-top: 5px; color: white; font-size: 0; *zoom: 1; }
.profile:after { content: " "; display: table; clear: both; }
.profile .profile__link, .profile .profile__span, .profile .dropdown__text { display: inline-block; font-size: 11px; letter-spacing: 0.1em; vertical-align: middle; font-family: "GothaProBol", Arial, sans-serif; }
.profile .profile__span { margin-right: 10px; }
.profile .profile__span:first-child { margin-right: 20px; }
.profile .profile__link, .profile .dropdown__text { margin: 0 5px; padding: 5px 10px; text-transform: uppercase; color: white; background-color: #3e4b5d; border-radius: 50px; }
.profile .profile__link.is-active, .profile .dropdown__text.is-active { border-radius: 12px 12px 0 0; }
.profile .icon-support { padding: 2px; font-size: 16px; padding: 2px 5px; }
.profile .icon-support:before { position: relative; top: 2px; left: 1px; }
.profile .dropdown { display: inline-block; width: 115px; margin: 0 5px; }

.dropdown { position: relative; }
.dropdown .dropdown__text { margin: 0; padding: 5px 0; color: white; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: center; }
.dropdown .dropdown__menu { width: 100%; position: absolute; top: 20px; left: 0; padding: 20px 0 10px; background: #3e4b5d; border-radius: 0 0 12px 12px; z-index: 200; }
.dropdown .dropdown__link { display: block; padding: 0 0 5px 8px; color: #989fa9; font-size: 11px; }
.dropdown .dropdown__link i { position: relative; top: 3px; }
.dropdown .dropdown__link i.icon-user { top: 2px; }
.dropdown .dropdown__link:hover { color: #03bcc5; }
.dropdown .icon-user, .dropdown .icon-settings, .dropdown .icon-options { font-size: 14px; padding-right: 5px; }

.header__down { padding: 20px 0; border-bottom: 2px solid #e1e6e9; *zoom: 1; }
.header__down:after { content: " "; display: table; clear: both; }

.exchange { float: left; margin-top: 10px; font-size: 11px; }
.exchange .exchange__list { display: inline-block; padding: 0 10px; font-family: "GothaProMedium", Arial, sans-serif; }
.exchange .exchange__list span { margin-right: 10px; padding: 5px 10px; border-radius: 50px; text-transform: uppercase; color: white; font-family: "GothaProBol", Arial, sans-serif; }
.exchange .is-green { background: #87c77e; }
.exchange .is-blue { background: #5187b6; }
.exchange .is-yellow { background: #fdbe74; }
.exchange .is-grey { background: #bdbdc5; }

.total { float: right; font-size: 11px; letter-spacing: 0.1em; font-family: "GothaProBol", Arial, sans-serif; }
.total .total__span { margin-right: 10px; padding: 5px 10px; color: white; text-transform: uppercase; background: black; border-radius: 50px; }
.total .txt-medium { margin-right: 4px; font-family: "GothaProMedium", Arial, sans-serif; }
.total .btn { margin-left: 30px; padding: 10px 13px; text-transform: uppercase; color: white; background: #72c366; border-radius: 50px; font-family: "GothaProBol", Arial, sans-serif; }
.total .btn:hover { background: #53b145; }
.total .icon-plus { padding-left: 10px; font-size: 11px; position: relative; top: 1px; }

.footer { font-size: 11px; }
.footer .footer__up { padding: 35px 0 45px; background: #232a34; *zoom: 1; }
.footer .footer__up:after { content: " "; display: table; clear: both; }
.footer .footer__bl { float: left; min-width: 200px; }
.footer .footer__bl:first-child { margin-left: 10px; }
.footer .footer__bl h3 { margin-bottom: 15px; color: white; text-transform: uppercase; font-family: "GothaProBol", Arial, sans-serif; }
.footer .footer__link { display: block; padding-bottom: 10px; color: #989fa9; letter-spacing: 0.1em; }
.footer .footer__link:hover { color: #03bcc5; }
.footer .footer__ico { margin-left: -0.2em; font-size: 16px; color: #858687; margin-right: 23px; font-size: 23px; -moz-transition: color 0.2s ease; -o-transition: color 0.2s ease; -webkit-transition: color 0.2s ease; transition: color 0.2s ease; }
.footer .footer__ico:hover { color: #9fa0a0; }
.footer .footer__down { padding: 25px 0; background: #1b2028; }
.footer .footer__down .footer__link { padding-bottom: 0; }
.footer .footer__span { color: #989fa9; }

h1 { margin-top: 55px; text-align: center; color: #293d5c; font-family: "GothaProBol", Arial, sans-serif; }
h1 span { text-transform: uppercase; }
h1.superheading { font-size: 40px; text-transform: uppercase; }

.byline { font-size: 14px; color: #2a3e5b; font-family: "GothaProReg", Arial, sans-serif; text-align: center; }

.main { margin: 70px 0; font-size: 11px; *zoom: 1; }
.main:after { content: " "; display: table; clear: both; }
.main .main__bl { position: relative; float: left; width: 33%; text-align: center; padding: 45px 5.2%; z-index: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.main .main__bl:first-child:before { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
.main .main__bl:last-child:before { border-right: 1px solid #e3e8ea; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
.main .main__bl:before { content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; border: 1px solid #e3e8ea; border-right-width: 0; }
.main .main__bl:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; box-shadow: 0 0 0 3px #03bcc5; border-radius: 10px; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.main .main__bl h2 { margin-bottom: 20px; color: #293d5c; text-transform: uppercase; font-family: "GothaProBol", Arial, sans-serif; }
.main .main__bl p { color: #bdbdc5; font-family: "GothaProMedium", Arial, sans-serif; }
.main .main__bl:hover { z-index: 2; }
.main .main__bl:hover h2 { color: #03bcc5; }
.main .main__bl:hover:before { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.main .main__bl:hover:after { top: -20px; bottom: -20px; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
.main .main__bl:hover .main__img:before { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.main .main__bl:hover .main__img:after { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.main .main__in { position: relative; z-index: 3; }
.main .main__img { position: relative; margin: 0 auto 30px; }
.main .main__img:before { content: ""; display: block; margin: 0 auto; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.main .main__img:after { content: ""; position: absolute; top: 0; left: 50%; margin-left: -85px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -webkit-transition: all 0.8s ease; transition: all 0.8s ease; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.main .shop:before { background: url('../img/icons-sf111d0a8ba.png') 0 -190px no-repeat; width: 170px; height: 150px; }
.main .shop:after { background: url('../img/icons-sf111d0a8ba.png') 0 -30px no-repeat; width: 170px; height: 150px; }
.main .trade:before { background: url('../img/icons-sf111d0a8ba.png') 0 -510px no-repeat; width: 170px; height: 150px; }
.main .trade:after { background: url('../img/icons-sf111d0a8ba.png') 0 -350px no-repeat; width: 170px; height: 150px; }
.main .wallet:before { background: url('../img/icons-sf111d0a8ba.png') 0 -830px no-repeat; width: 170px; height: 150px; }
.main .wallet:after { background: url('../img/icons-sf111d0a8ba.png') 0 -670px no-repeat; width: 170px; height: 150px; }

.wrapper { margin: 70px 0; padding-bottom: 42px; *zoom: 1; }
.wrapper:after { content: " "; display: table; clear: both; }

.h2 { font-family: "GothaProReg", Arial, sans-serif; font-size: 16px; font-weight: normal; color: #232a34; text-transform: uppercase; margin-bottom: 22px; }

.more { font-size: 12px; color: #222e3e; font-family: "GothaProReg", Arial, sans-serif; text-decoration: underline; margin-top: 18px; display: inline-block; }

.usera { width: 468px; float: left; margin-left: 20px; }
.usera ul { list-style: none; }
.usera ul li { position: relative; padding-left: 64px; margin-bottom: 22px; }
.usera ul li i { height: 36px; width: 36px; background: #e0e6e8; color: white; position: absolute; top: -5px; left: 0; text-align: center; font-size: 23px; border-radius: 36px; }
.usera ul li i:after { left: 17px; width: 2px; background: #e0e6e8; height: 26px; position: absolute; bottom: -26px; content: " "; }
.usera ul li i:before { position: relative; top: 4px; }
.usera ul li i.icon-twofactor:before, .usera ul li i.icon-verification:before { top: 6px; }
.usera ul li span { display: block; font-size: 14px; color: #222e3e; margin-bottom: 1px; }
.usera ul li small { font-size: 14px; color: #bdbdc5; display: block; }
.usera ul li:last-child { padding-bottom: 0; margin-bottom: 0; }
.usera ul li:last-child i:after { display: none; }

.activity { width: 583px; float: right; font-family: "GothaProReg", Arial, sans-serif; }
.activity table { width: 100%; border-spacing: 0; border-collapse: collapse; }
.activity table td { border-bottom: 1px solid #e0e6e8; padding: 13px 0; }
.activity table tr:hover td { background: #f0feff; }
.activity table .activity__text { font-size: 14px; color: #222e3e; }
.activity table .activity__text strong { font-weight: normal; font-family: "GothaProBol", Arial, sans-serif; }
.activity table .activity__date { font-size: 14px; color: #bdbdc5; padding-right: 7px; padding-left: 7px; }
.activity table .activity__icon { padding-left: 7px; font-size: 17px; }
.activity table .activity__icon i { position: relative; top: 3px; }
.activity table .activity__icon .icon-in { color: #75c269; }
.activity table .activity__icon .icon-out { color: #e46869; }

.select { margin: 47px 0 58px 0; text-align: center; font-size: 0; }
.select .select__label { display: inline-block; vertical-align: middle; font-size: 14px; margin-right: 5px; color: #bdbdc5; }
.select .select__option { height: 28px; line-height: 28px; text-transform: uppercase; font-size: 14px; color: rgba(255, 255, 255, 0.5); width: 142px; text-align: center; display: inline-block; vertical-align: middle; background: #e0e6e8; border: 1px solid #e0e6e8; cursor: pointer; }
.select .select__option.first { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.select .select__option.last { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.select .select__option.is-active { color: #2a3d5b; background: white; }

.offers { margin: 58px 0 75px 0; }

.input { display: inline-block; position: relative; margin-right: 17px; vertical-align: middle; }
.input input { border: 1px solid #e1e6e9; line-height: normal; border-radius: 6px; padding-left: 20px; padding-right: 40px; font-size: 26px; color: #222e3e; height: 58px; width: 200px; }
.input .input__currency { position: absolute; font-size: 16px; color: #d3d5d9; position: absolute; right: 0; top: 0; padding-right: 20px; height: 58px; line-height: 58px; }

.buycustom { margin-bottom: 88px; text-align: center; font-size: 14px; color: #aaafb8; }
.buycustom h2 { font-size: 18px; color: #2a3e5b; font-weight: normal; margin-bottom: 14px; color: #2a3d5b; }
.buycustom .buycustom__form { width: 730px; margin: 34px auto 0 auto; text-align: left; }
.buycustom .buycustom__form .more { margin-left: 19px; font-size: 11px; color: #697385; margin-top: 8px; }
.buycustom .buycustom__submit { height: 60px; line-height: 60px; display: inline-block; text-decoration: none; width: 138px; background: #75c269; color: white; font-size: 20px; text-align: center; cursor: pointer; vertical-align: middle; border-radius: 6px; }

.offers { *zoom: 1; }
.offers:after { content: " "; display: table; clear: both; }

.offer { float: left; width: 25%; height: 283px; cursor: pointer; text-align: center; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.offer > * { position: relative; z-index: 10; }
.offer:before { content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: 1px solid #e3e8ea; border-right-width: 0; }
.offer:after { content: ""; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; box-shadow: 0 0 0 2px #03bcc5; border-radius: 10px; background: white; }
.offer:hover { z-index: 2; }
.offer:hover:before { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.offer:hover:after { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; top: -15px; bottom: -15px; right: -15px; left: -15px; -moz-transition: top 0.3s ease, left 0.3s ease, right 0.3s ease, bottom 0.3s ease; -o-transition: top 0.3s ease, left 0.3s ease, right 0.3s ease, bottom 0.3s ease; -webkit-transition: top 0.3s ease, left 0.3s ease, right 0.3s ease, bottom 0.3s ease; transition: top 0.3s ease, left 0.3s ease, right 0.3s ease, bottom 0.3s ease; }
.offer:hover .offer__best { -moz-transform: translateY(-15px); -ms-transform: translateY(-15px); -webkit-transform: translateY(-15px); transform: translateY(-15px); }
.offer:last-child:before { border-right: 1px solid #e0e6e8; border-top-right-radius: 6px; border-bottom-right-radius: 6px; }
.offer:first-child:before { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.offer .offer__buy { text-align: center; }
.offer .offer__buy .offer__btn { width: 100px; display: inline-block; height: 40px; line-height: 40px; border: 1px solid #e9eeef; border-radius: 40px; font-size: 14px; color: #2a3d5b; text-align: center; font-family: "GothaProBol", Arial, sans-serif; }
.offer .offer__best { width: 180px; height: 26px; background: #20bcc4; line-height: 26px; text-transform: uppercase; position: absolute; left: 50%; margin-left: -90px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; font-size: 11px; color: white; -moz-transition: -moz-transform 0.3s ease; -o-transition: -o-transform 0.3s ease; -webkit-transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease; }
.offer .offer__pre { padding-top: 31px; color: #1fbcc4; font-size: 20px; font-family: "GothaProBol", Arial, sans-serif; margin-bottom: 13px; }
.offer .offer__for { font-size: 11px; color: #2a3e5b; text-transform: uppercase; padding-bottom: 20px; display: inline-block; margin-bottom: 20px; width: 140px; border-bottom: 1px solid #e0e6e8; }
.offer .offer__value { font-size: 40px; color: #2a3e5b; font-family: "GothaProBol", Arial, sans-serif; margin-bottom: 27px; }
.offer:hover .offer__btn, .offer.is-best .offer__btn { color: white; background: #20bcc4; border-color: #20bcc4; }
.offer:hover .offer__value, .offer.is-best .offer__value { color: #20bcc4; }
.offer:hover .offer__for, .offer.is-best .offer__for { border-color: #20bcc4; }
.offer.is-best { z-index: 100; }
.offer.is-best .offer__best { top: -15px; }
.offer.is-best:before { content: " "; position: absolute; top: -16px; right: -16px; left: -16px; bottom: -16px; border: 2px solid #20bcc4; background: white; border-radius: 10px; }

.currency { *zoom: 1; }
.currency:after { content: " "; display: table; clear: both; }
.currency .currency__in { margin-top: 20px; float: right; font-size: 14px; *zoom: 1; }
.currency .currency__in:after { content: " "; display: table; clear: both; }
.currency .currency__span, .currency .dropdown { display: inline-block; vertical-align: middle; }
.currency .currency__span { color: #bdbdc5; margin-right: 5px; }
.currency .dropdown { color: #03bcc5; font-family: "GothaProBol", Arial, sans-serif; }
.currency .dropdown__menu { background: none; padding-top: 10px; }
.currency .dropdown__text { padding: 0; }
.currency .dropdown__link { padding: 0 0 5px 0; font-size: 14px; }
.currency .icon-arrdown { margin-left: 10px; }
.currency .icon-arrdown:before { vertical-align: middle; }

.popupwrap { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(35, 42, 52, 0.8); z-index: 200; white-space: nowrap; text-align: center; font-size: 0; }
.popupwrap:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.popup { display: inline-block; vertical-align: middle; min-width: 500px; background: white; white-space: normal; z-index: 300; font-family: "GothaProReg", Arial, sans-serif; }
.popup .is-bold { font-family: "GothaProBol", Arial, sans-serif; }
.popup .is-medium { font-family: "GothaProMedium", Arial, sans-serif; }
.popup .popup__head { position: relative; font-size: 20px; border-bottom: 1px solid #e5e9ec; }
.popup .popup__in { padding: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.popup .popup__close { position: absolute; top: 37px; right: 30px; background: url(../img/font/x.svg) no-repeat; width: 11px; height: 12px; cursor: pointer; }
.popup .popup__body { color: #858688; font-size: 13px; }
.popup .popup__body h2 { margin-bottom: 30px; font-size: 20px; color: black; }
.popup .popup__body h3 { margin-bottom: 18px; font-size: 16px; color: black; }
.popup .clock { margin: 50px 0 10px; text-align: center; font-size: 14px; color: #e0e6e8; }
.popup .clock__time { font-size: 20px; }
.popup .icon-clock { font-size: 58px; color: #e0e6e8; }
.popup .popup__bottom { position: relative; background: #f4f4f4; color: #858688; }
.popup .popup__bottom:before { content: " "; background: linear-gradient(-45deg, #f4f4f4 8px, rgba(0, 0, 0, 0) 0%), linear-gradient(45deg, #f4f4f4 8px, rgba(0, 0, 0, 0) 0%) repeat-x; background-size: 16px 16px; display: block; position: absolute; top: -16px; left: 0px; width: 100%; height: 32px; }
.popup .total__row { margin-bottom: 15px; font-size: 14px; *zoom: 1; }
.popup .total__row:after { content: " "; display: table; clear: both; }
.popup .total__row:last-child { color: black; }
.popup .total__cell { float: right; }
.popup .total__cell:first-child { float: left; }
.popup .total__cell.is-medium { font-size: 16px; }
.popup .alert { text-align: center; margin: 50px 0 10px; color: #e66767; font-size: 14px; }
.popup .icon-alert { font-size: 65px; }
.popup .success { padding-top: 20px; text-align: center; font-size: 11px; color: #858688; }
.popup .success h3 { margin-bottom: 5px; }
.popup .success .popup__close { top: 20px; }
.popup .success .btn { margin-top: 25px; }
.popup .icon-prize { font-size: 60px; color: #dedee2; }
.popup .btn { width: 100%; padding: 20px 0; font-size: 14px; background: #4fc0e8; color: white; border-radius: 3px; font-family: "GothaProMedium", Arial, sans-serif; }
